<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to Glitch!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="node server starter code" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="./public/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="./public/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Node Server Starter Code</h1>
    </header>
  </body>
</html>
