<div>Hi there,<div>
<br/>
<br/>
<h3>Thank you for using our service. Below is your login information: </h3>
<br/>
<p>
    username: {{username}}
    <br/>
    password: {{password}}
    <br/>
    Email: {{email}}
</p>
<br/>
<br/>
<div>Best regards</div>